<ng-container *ngIf="form" class="dialog-container" [formGroup]="form">
  <h1 mat-dialog-title>{{data.serviceData.name}} <hr></h1>
  <div mat-dialog-content>
    <div class="main-forms">
    <mat-form-field>
      <mat-label>Service name: *</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category: </mat-label>
      <input matInput formControlName="category">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description: </mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Service type: </mat-label>
      <input matInput formControlName="serviceType">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Pick a state (required)</mat-label>
      <mat-select required name="state" formControlName="state">
        <mat-option *ngFor="let item of STATES | keyvalue" [value]="item.value">
          {{item.value}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('state')?.hasError('required')">You must make a selection</mat-error>
    </mat-form-field>
  </div>
    <mat-label>Service is enabled: *</mat-label>
    <mat-radio-group formControlName="isServiceEnabled" class="max-width"
      style="display: flex; flex-direction: column;">
      <mat-radio-button value="true" style="margin-left: 16px;" class="margin-top">Yes</mat-radio-button>
      <mat-radio-button value="false" style="margin-left: 16px;" class="margin-top">No</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="fill" class="max-width">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="start" formControlName="startDate" autocomplete="new-password">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="max-width">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="end" formControlName="endDate" autocomplete="new-password">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>

    <mat-card class="margin-bottom" formArrayName="resources">
      <mat-card-header>
        <mat-card-title>Resources</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="primary" class="max-width margin-bottom" (click)="addResource()">
          <mat-icon>add</mat-icon>
          Add resource
        </button>
        <span *ngFor="let item of getResource.controls; let i = index" class="max-width" style="display: flex;">
          <mat-form-field [formGroupName]="i" style="flex: 1 1;">
            <mat-label>Resource {{i + 1}}.</mat-label>
            <input type="text" name="resourceText" formControlName="name" matInput>
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeResource(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-card-content>
    </mat-card>

    <mat-card class="margin-bottom" formArrayName="notes">
      <mat-card-header>
        <mat-card-title>Notes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="primary" class="max-width margin-bottom" (click)="addNote()">
          <mat-icon>add</mat-icon>
          Add Note
        </button>
        <span *ngFor="let item of getNotes.controls; let i = index" class="max-width" style="display: flex;">
          <mat-form-field [formGroupName]="i" style="flex: 1 1;">
            <mat-label>Note {{i + 1}}.</mat-label>
            <input type="text" name="text" formControlName="text" matInput>
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeNote(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-card-content>
    </mat-card>

    <mat-error *ngIf="errorMessage != undefined">
      <mat-label class="margin-bottom">{{errorMessage}}</mat-label>
    </mat-error>  
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
    <button mat-button (click)="update()" [disabled]="form?.invalid">Save</button>
  </div>
</ng-container>